body{
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}

.card {
    justify-content: center

}

.card.hover,
.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2)
}

.img {
    margin-bottom: 5px;
    width: 20px;
    height: 20px;
}

.card-title {
    font-weight: 600
}

button.focus,
button:focus {
    outline: 0;
    box-shadow: none !important
}
